/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/components/_IndexPage.scss */
.indexpage-container {
  position: relative;
  height: 100%;
}

/* line 5, ../scss/components/_IndexPage.scss */
.indexpage-main-wrapper {
  height: 80vh;
  display: flex;
}

/* line 10, ../scss/components/_IndexPage.scss */
#slogan-2 {
  line-height: 1.5em;
  color: white;
  font-size: 7vw;
  width: 100%;
  margin: 0 auto;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  -webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -moz-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
mobile main section
* ---------------------------------------------- */
/* line 30, ../scss/components/_IndexPage.scss */
.mobile-phone .indexpage-main-wrapper {
  height: 80vh;
  color: white;
}
/* line 35, ../scss/components/_IndexPage.scss */
.mobile-phone .main-slogan-wrapper {
  height: 95vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/naughty-swing-official-website.appspot.com/o/indexpage%2Findex_highlight.jpg?alt=media&token=3a2c9237-0986-4b24-ad3f-dfba9162d97e");
}
/* line 45, ../scss/components/_IndexPage.scss */
.mobile-phone .main-slogan {
  height: 100%;
  vertical-align: middle;
  font-size: 350%;
  color: white;
  text-align: left;
  line-height: 1.2em;
  letter-spacing: 10px;
  font-family: serif;
  font-weight: bold;
  position: absolute;
  width: 50%;
  top: 20%;
  left: 10%;
}
/* line 61, ../scss/components/_IndexPage.scss */
.mobile-phone .naughty {
  color: orange;
}

/* line 66, ../scss/components/_IndexPage.scss */
.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-9-19 19:19:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation focus-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/* ----------------------------------------------
mobile main section End
* ---------------------------------------------- */
/* ----------------------------------------------
Aboutus Hightlight
* ---------------------------------------------- */
/* Desktop */
/* line 113, ../scss/components/_IndexPage.scss */
.aboutushighlight-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 121, ../scss/components/_IndexPage.scss */
.aboutushighlight-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 28pt;
}

/* line 131, ../scss/components/_IndexPage.scss */
.aboutushighlight-introduction-content {
  font-family: "Microsoft JhengHei";
  font-size: 16pt;
  text-align: justify;
  line-height: 2em;
  padding: 2%;
}

/* line 139, ../scss/components/_IndexPage.scss */
.aboutushighlight-more-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

/* End */
/* Phone */
/* line 148, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
}
/* line 156, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16pt;
}
/* line 166, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-introduction-content {
  font-family: "Microsoft JhengHei";
  font-size: 12pt;
  text-align: left;
  line-height: 2em;
  padding: 2%;
}
/* line 173, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-introduction-content .aboutushighlight-introduction-content-ch {
  letter-spacing: 1px;
  padding-bottom: 5%;
  padding-top: 5%;
}
/* line 179, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-introduction-content .aboutushighlight-introduction-content-en {
  letter-spacing: 0px;
  padding-bottom: 5%;
  padding-top: 5%;
}
/* line 186, ../scss/components/_IndexPage.scss */
.mobile-phone .aboutushighlight-more-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

/* End */
/* ----------------------------------------------
Aboutus Hightlight End
* ---------------------------------------------- */
/* ----------------------------------------------
Coop Hightlight
* ---------------------------------------------- */
/* Desktop */
/* line 201, ../scss/components/_IndexPage.scss */
.coophighlight-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* line 214, ../scss/components/_IndexPage.scss */
.coophighlight-introduction-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 28pt;
}

/* line 224, ../scss/components/_IndexPage.scss */
.coophighlight-introduction-content {
  font-family: "Microsoft JhengHei";
  font-size: 16pt;
  text-align: center;
  line-height: 2em;
  padding: 2%;
}

/* line 232, ../scss/components/_IndexPage.scss */
.coophighlight-introduction-content-en {
  word-spacing: 0.3em;
  letter-spacing: 0.1em;
}

/* line 237, ../scss/components/_IndexPage.scss */
.coophighlight-introduction-content-ch {
  letter-spacing: 0.3em;
}

/* line 242, ../scss/components/_IndexPage.scss */
.coophighlight-services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

/* line 249, ../scss/components/_IndexPage.scss */
.coophighlight-services-serviceitem {
  margin: 0 auto;
  width: 30%;
}

/* line 254, ../scss/components/_IndexPage.scss */
.coophighlight-services-serviceitem-icon-container {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(113, 200, 213, 0.8);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

/* line 264, ../scss/components/_IndexPage.scss */
.coophighlight-services-serviceitem-icon-src {
  margin: 0 auto;
  color: orange;
  text-align: center;
  width: 100%;
}

/* line 271, ../scss/components/_IndexPage.scss */
.coophighlight-services-serviceitem-title {
  color: orange;
  margin-top: 0;
  text-align: center;
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 280, ../scss/components/_IndexPage.scss */
.coophighlight-services-serviceitem-content {
  font-family: "Microsoft JhengHei";
  font-size: 14pt;
  line-height: 2em;
  letter-spacing: 0px;
}

/* line 287, ../scss/components/_IndexPage.scss */
.coophighlight-more-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

/* End */
/* Phone */
/* line 297, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-introduction-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16pt;
}
/* line 307, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-introduction-content {
  font-family: "Microsoft JhengHei";
  font-size: 12pt;
  text-align: left;
  padding: 2%;
}
/* line 314, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-introduction-content-en {
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 0px;
  letter-spacing: 1px;
  line-height: 2em;
}
/* line 322, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-introduction-content-ch {
  padding-top: 10px;
  padding-bottom: 10px;
  word-spacing: 0px;
  letter-spacing: 1px;
  line-height: 2em;
}
/* line 330, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 336, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-serviceitem {
  margin: 0 auto;
  width: 100%;
  min-width: 250px;
}
/* line 342, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-serviceitem-icon-container {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  background: rgba(113, 200, 213, 0.8);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
/* line 352, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-serviceitem-icon-src {
  margin: 0 auto;
  color: orange;
  text-align: center;
  width: 100%;
}
/* line 359, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-serviceitem-title {
  color: orange;
  margin-top: 0;
  text-align: center;
  font-size: 14pt;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 368, ../scss/components/_IndexPage.scss */
.mobile-phone .coophighlight-services-serviceitem-content {
  font-family: "Microsoft JhengHei";
  font-size: 12pt;
  line-height: 2.5em;
  letter-spacing: 0px;
}

/* End */
/* ----------------------------------------------
Coop Hightlight End
* ---------------------------------------------- */
/* ----------------------------------------------
Portfolio Hightlight
* ---------------------------------------------- */
/* Desktop */
/* line 383, ../scss/components/_IndexPage.scss */
.portfoliohighlight-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background: black;
}

/* line 392, ../scss/components/_IndexPage.scss */
.portfoliohighlight-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 28pt;
}

/* line 402, ../scss/components/_IndexPage.scss */
.portfoliohighlight-more-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

/* line 409, ../scss/components/_IndexPage.scss */
.portfoliohighlight-more-btn {
  margin: 0 auto;
  margin-top: 10px;
}

/* Desktop End */
/* Phone */
/* line 416, ../scss/components/_IndexPage.scss */
.mobile-phone .portfoliohighlight-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background: black;
}
/* line 425, ../scss/components/_IndexPage.scss */
.mobile-phone .portfoliohighlight-title {
  color: orange;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16pt;
}
/* line 435, ../scss/components/_IndexPage.scss */
.mobile-phone .portfoliohighlight-more-btn-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
/* line 442, ../scss/components/_IndexPage.scss */
.mobile-phone .portfoliohighlight-more-btn {
  margin: 0 auto;
  margin-top: 10px;
}

/* Phone End */
/* ----------------------------------------------
Portfolio Hightlight End
* ---------------------------------------------- */
/* line 452, ../scss/components/_IndexPage.scss */
.swingeventshighlight-container {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/naughty-swing-official-website.appspot.com/o/swingevent%2Fswingevents_background_1_mini.jpg?alt=media&token=e4bbb429-99df-4290-8cfb-6690ad47a583);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 464, ../scss/components/_IndexPage.scss */
.swingeventshighlight-event {
  width: 90%;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-3-22 5:53:51
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
Introduction Section
* ---------------------------------------------- */
/* Desktop */
/* line 5, ../scss/components/_aboutus.scss */
.aboutus-introduction-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  padding: 0;
  color: white;
  font-size: 16pt;
  line-height: 2em;
  text-align: justify;
  height: 100vh;
}

/* line 16, ../scss/components/_aboutus.scss */
.aboutus-introduction-title {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0;
  font-size: 24pt;
  color: orange;
}

/* line 25, ../scss/components/_aboutus.scss */
.aboutus-introduction-content {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 2em;
  letter-spacing: 1px;
}
/* line 34, ../scss/components/_aboutus.scss */
.aboutus-introduction-content .aboutus-introduction-content-ch {
  font-size: 18pt;
  padding: 2%;
}
/* line 39, ../scss/components/_aboutus.scss */
.aboutus-introduction-content .aboutus-introduction-content-en {
  font-size: 18pt;
  padding: 2%;
}

/* Desktop End */
/* Phone */
/* line 49, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-introduction-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  padding: 0;
  color: white;
  height: auto;
}
/* line 57, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-introduction-title {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  margin: 0;
  text-align: left;
  font-size: 16pt;
  color: orange;
}
/* line 68, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-introduction-content {
  padding: 4%;
  line-height: 2em;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
}
/* line 75, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-introduction-content .aboutus-introduction-content-ch {
  font-size: 14pt;
  margin: 0;
  padding: 4%;
}
/* line 81, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-introduction-content .aboutus-introduction-content-en {
  font-size: 14pt;
  margin: 0;
  padding: 4%;
}

/* Phone End */
/* ----------------------------------------------
Introduction Section End
* ---------------------------------------------- */
/* ----------------------------------------------
Experience Section
* ---------------------------------------------- */
/* Desktop */
/* line 96, ../scss/components/_aboutus.scss */
.aboutus-experience-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  padding: 5%;
  color: white;
  font-size: 16pt;
  line-height: 2em;
  text-align: justify;
}

/* line 105, ../scss/components/_aboutus.scss */
.aboutus-experience-wrapper {
  background-color: black;
  color: white;
}

/* line 109, ../scss/components/_aboutus.scss */
.aboutus-experience-title {
  font-size: 24pt;
  color: orange;
  margin-bottom: 20px;
}

/* line 114, ../scss/components/_aboutus.scss */
.experience-container {
  width: 100%;
}

/* line 118, ../scss/components/_aboutus.scss */
.experience-selectbar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

/* line 125, ../scss/components/_aboutus.scss */
.experience-selectbar-yearitem {
  width: 100px;
  text-align: center;
}

/* Desktop End */
/* Phone */
/* line 132, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-experience-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  padding: 5%;
  color: white;
  font-size: 12pt;
  line-height: 1.5em;
  text-align: justify;
}
/* line 142, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-experience-wrapper {
  background-color: black;
  color: white;
}
/* line 147, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-experience-title {
  font-size: 16pt;
  color: orange;
  margin-bottom: 20px;
}
/* line 153, ../scss/components/_aboutus.scss */
.mobile-phone .experience-container {
  width: 100%;
}
/* line 157, ../scss/components/_aboutus.scss */
.mobile-phone .experience-selectbar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
/* line 164, ../scss/components/_aboutus.scss */
.mobile-phone .experience-selectbar-yearitem {
  width: 100px;
  text-align: center;
}

/* Phone End */
/* ----------------------------------------------
Experience Section End
* ---------------------------------------------- */
/* ----------------------------------------------
Media Explosure Section
* ---------------------------------------------- */
/* Desktop */
/* line 178, ../scss/components/_aboutus.scss */
.aboutus-mediaexplosure-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  color: white;
  font-size: 16pt;
  line-height: 2em;
  text-align: justify;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 189, ../scss/components/_aboutus.scss */
.aboutus-mediaexplosure-title {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 24pt;
  color: orange;
}

/* line 199, ../scss/components/_aboutus.scss */
.aboutus-mediaexplosure-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 207, ../scss/components/_aboutus.scss */
.aboutus-mediaexplosure-content .aboutus-mediaexplosure-content-ch {
  color: white;
  padding: 2%;
  font-size: 18pt;
}
/* line 213, ../scss/components/_aboutus.scss */
.aboutus-mediaexplosure-content .aboutus-mediaexplosure-content-en {
  color: white;
  padding: 2%;
  font-size: 18pt;
}

/* Desktop End */
/* Phone */
/* line 223, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-mediaexplosure-wrapper {
  font-family: "Microsoft JhengHei";
  width: 100%;
  color: white;
  line-height: 1.5em;
  text-align: left;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 233, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-mediaexplosure-title {
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 16pt;
  color: orange;
}
/* line 243, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-mediaexplosure-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
}
/* line 250, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-mediaexplosure-content .aboutus-mediaexplosure-content-ch {
  font-size: 14pt;
  padding: 10px;
  color: white;
  line-height: 2em;
  letter-spacing: 1px;
}
/* line 258, ../scss/components/_aboutus.scss */
.mobile-phone .aboutus-mediaexplosure-content .aboutus-mediaexplosure-content-en {
  font-size: 14pt;
  padding: 10px;
  color: white;
  line-height: 2em;
  letter-spacing: 1px;
}

/* Phone End */
/* ----------------------------------------------
Media Explosure Section End
* ---------------------------------------------- */
/* ----------------------------------------------
Brands
* ---------------------------------------------- */
/* Desktop */
/* line 279, ../scss/components/_aboutus.scss */
.brands-container {
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: black;
}

/* line 290, ../scss/components/_aboutus.scss */
.brands-item {
  text-align: center;
  min-width: 75px;
  max-height: 100px;
  min-height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 20%;
  overflow: hidden;
}

/* line 302, ../scss/components/_aboutus.scss */
.brands-item-img {
  width: 80%;
  margin: 0 auto;
}

/* Desktop End */
/* Phone */
/* line 310, ../scss/components/_aboutus.scss */
.mobile-phone .brands-container {
  display: flex;
  padding: 5%;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: black;
}
/* line 321, ../scss/components/_aboutus.scss */
.mobile-phone .brands-item {
  text-align: center;
  min-width: 75px;
  max-height: 100px;
  min-height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  width: 40%;
  overflow: hidden;
}
/* line 333, ../scss/components/_aboutus.scss */
.mobile-phone .brands-item-img {
  width: 80%;
  margin: 0 auto;
}

/* Phone End */
/* ----------------------------------------------
Brands End
* ---------------------------------------------- */
/* line 1, ../scss/components/_backgroundvideo.scss */
#mainvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/*----------------------------------------------
default header menu
----------------------------------------------*/
/* line 4, ../scss/components/_basic.scss */
.header-container {
  display: inline-flex;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 20vh;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

/*----------------------------------------------
    header menu active
----------------------------------------------*/
/* line 20, ../scss/components/_basic.scss */
.header-container.active {
  background-color: black;
  height: 75px;
  top: 0px;
  padding: 10px;
}

/* line 27, ../scss/components/_basic.scss */
.header-container.active .logo-container .nslogo-img {
  width: 20%;
  min-width: 90px;
}

/*----------------------------------------------
    active end
----------------------------------------------*/
/* line 34, ../scss/components/_basic.scss */
.logo-container {
  width: 25%;
}

/* line 38, ../scss/components/_basic.scss */
.nslogo-container {
  width: 100%;
  text-align: center;
}

/* line 43, ../scss/components/_basic.scss */
.logo-container .nslogo-img {
  width: 50%;
  min-width: 200px;
}

/* line 48, ../scss/components/_basic.scss */
.default-menu-container {
  width: 75%;
  display: inline-flex;
  align-items: center;
  top: 50px;
}

/* line 55, ../scss/components/_basic.scss */
.default-menu-list {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
  width: 70%;
}

/* line 64, ../scss/components/_basic.scss */
.default-menu-item {
  color: orange;
}

/* line 68, ../scss/components/_basic.scss */
.default-menu-item-content {
  justify-content: center;
  font-size: 1.2vw;
  display: inline-flex;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
}

/* line 79, ../scss/components/_basic.scss */
.default-menu-item-content:hover {
  color: white;
  background-color: orange;
}

/* line 84, ../scss/components/_basic.scss */
.icon-bar {
  display: inline-block;
  width: 20%;
  color: white;
}

/* line 90, ../scss/components/_basic.scss */
.icon-bar .icon {
  margin: 4px;
  color: white;
}
/* line 93, ../scss/components/_basic.scss */
.icon-bar .icon:hover {
  color: orange;
}

/*----------------------------------------------
end
----------------------------------------------*/
/*----------------------------------------------
Mobile Header 
----------------------------------------------*/
/* line 104, ../scss/components/_basic.scss */
.mobile-phone .logo-container .nslogo-img {
  width: 50%;
  min-width: 120px;
  padding-left: 30%;
}

/*----------------------------------------------
Mobile Header End
----------------------------------------------*/
/*----------------------------------------------
mobile header menu
----------------------------------------------*/
/* line 116, ../scss/components/_basic.scss */
.mobilenav-icon-wrapper {
  position: absolute;
  color: orange;
  right: 5%;
  top: 20px;
  z-index: 100;
}

/* line 124, ../scss/components/_basic.scss */
.mobilenav-icon-wrapper svg {
  height: 2em;
  width: 2em;
}

/* line 129, ../scss/components/_basic.scss */
.mobilenav-wrapper {
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* line 135, ../scss/components/_basic.scss */
.mobile-menu-list {
  text-align: center;
  list-style: none;
  color: orange;
  padding: 0;
  margin: 0 auto;
  margin-top: 20%;
}

/* line 144, ../scss/components/_basic.scss */
.mobile-menu .mobile-menu-list a {
  line-height: 2em;
  color: orange;
  text-decoration: none;
  font-size: 3em;
}

/* line 151, ../scss/components/_basic.scss */
.mobilenav-linklist-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  color: orange;
  align-items: center;
  list-style: none;
  align-content: center;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 165, ../scss/components/_basic.scss */
.mobilenav-linklist-item {
  display: flex;
  align-items: center;
  color: orange;
  text-align: center;
  height: 20%;
  margin: 0 auto;
  font-size: 5vw;
}

/*----------------------------------------------
end
----------------------------------------------*/
/*----------------------------------------------
footer
----------------------------------------------*/
/* Desktop */
/* line 182, ../scss/components/_basic.scss */
.icon {
  color: white;
  margin: 1%;
}

/* line 187, ../scss/components/_basic.scss */
#container {
  position: relative;
  height: auto;
}

/* line 192, ../scss/components/_basic.scss */
.footer-container {
  padding-top: 8%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background-color: black;
  text-align: center;
  min-height: 300px;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  color: white;
}

/* line 209, ../scss/components/_basic.scss */
.footer-logo-warpper {
  width: 80%;
  text-align: center;
}

/* line 214, ../scss/components/_basic.scss */
.footer-logo-source {
  color: white;
  font-size: 24pt;
}
/* line 217, ../scss/components/_basic.scss */
.footer-logo-source:hover {
  color: orange;
}

/* line 222, ../scss/components/_basic.scss */
.footer-nav-list {
  list-style: none;
  margin: 0px auto;
  padding: 0px;
  width: 60%;
  height: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

/* line 235, ../scss/components/_basic.scss */
.footer-nav-list-item {
  font-size: 14pt;
  color: white;
}
/* line 238, ../scss/components/_basic.scss */
.footer-nav-list-item:hover {
  color: orange;
}

/* line 243, ../scss/components/_basic.scss */
.footer-container .icon-bar {
  padding: 0px;
  height: 100%;
  width: 30%;
  max-width: 150px;
}

/* line 250, ../scss/components/_basic.scss */
.footer-info-content {
  font-size: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

/* line 257, ../scss/components/_basic.scss */
.footer-info-content a {
  color: white;
}

/* Desktop End */
/* Phone */
/* line 262, ../scss/components/_basic.scss */
.mobile-phone .icon {
  color: white;
  margin: 1%;
}

/* line 267, ../scss/components/_basic.scss */
.mobile-phone .footer-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  background-color: black;
  text-align: center;
  min-height: 300px;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  color: white;
}

/* line 283, ../scss/components/_basic.scss */
.mobile-phone .footer-logo-warpper {
  width: 80%;
  text-align: center;
}

/* line 288, ../scss/components/_basic.scss */
.mobile-phone .footer-logo-source {
  color: white;
  font-size: 18pt;
}
/* line 291, ../scss/components/_basic.scss */
.mobile-phone .footer-logo-source:hover {
  color: orange;
}

/* line 296, ../scss/components/_basic.scss */
.mobile-phone .footer-nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

/* line 305, ../scss/components/_basic.scss */
.mobile-phone .footer-nav-list-item {
  font-size: 100%;
  min-width: 200px;
  color: white;
}
/* line 309, ../scss/components/_basic.scss */
.mobile-phone .footer-nav-list-item:hover {
  color: orange;
}

/* line 314, ../scss/components/_basic.scss */
.mobile-phone .footer-container .icon-bar {
  padding: 0px;
  height: 100%;
  width: 100%;
  max-width: 150px;
}

/* line 321, ../scss/components/_basic.scss */
.mobile-phone .footer-info-content {
  font-size: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

/* line 328, ../scss/components/_basic.scss */
.mobile-phone .footer-info-content a {
  color: white;
}

/* Phone End */
/*----------------------------------------------
end
----------------------------------------------*/
/* line 2, ../scss/components/_classes.scss */
.classes-container-title {
  color: orange;
}

/*----------------------------------------------
Co-op Page
----------------------------------------------*/
/* Desktop */
/* line 5, ../scss/components/_coop.scss */
.coop-container {
  position: relative;
  width: auto;
  height: auto;
  padding-right: 3%;
  padding-left: 3%;
}

/* line 13, ../scss/components/_coop.scss */
.coop-introducion-wrapper {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  font-size: 16pt;
  color: white;
  line-height: 2em;
  font-family: "Microsoft JhengHei";
  letter-spacing: 1.2pt;
}

/* line 26, ../scss/components/_coop.scss */
.coop-introducion-ch {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 31, ../scss/components/_coop.scss */
.coop-introducion-en {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 36, ../scss/components/_coop.scss */
.coop-section-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* line 47, ../scss/components/_coop.scss */
.coop-section-left {
  width: 45%;
  margin: 0 auto;
}

/* line 53, ../scss/components/_coop.scss */
.coop-section-media-wrapper {
  height: 100%;
  overflow: hidden;
}

/* line 58, ../scss/components/_coop.scss */
.coopblock-section-media-img {
  width: 100%;
  margin: 0 auto;
}

/* line 63, ../scss/components/_coop.scss */
.coop-section-right {
  width: 45%;
  height: auto;
  margin: 0 auto;
}

/* line 70, ../scss/components/_coop.scss */
.coop-section-content-title {
  margin: 0;
  color: orange;
  font-size: 26pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 78, ../scss/components/_coop.scss */
.coop-section-content-intro {
  font-size: 16pt;
}

/* line 82, ../scss/components/_coop.scss */
.coop-section-content-intro-body-ch {
  font-family: "Microsoft JhengHei";
  line-height: 2em;
  color: white;
  letter-spacing: 1px;
  padding: 4%;
}

/* line 90, ../scss/components/_coop.scss */
.coop-section-content-intro-body-en {
  font-family: "Microsoft JhengHei";
  line-height: 2em;
  color: white;
  letter-spacing: 1px;
  padding: 4%;
}

/* Desktop End */
/* Phone */
/* line 100, ../scss/components/_coop.scss */
.mobile-phone .coop-container {
  position: relative;
  width: auto;
  height: auto;
  padding-right: 2%;
  padding-left: 2%;
}
/* line 108, ../scss/components/_coop.scss */
.mobile-phone .coop-introducion-wrapper {
  padding: 2%;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  font-size: 12pt;
  color: white;
  font-family: "Microsoft JhengHei";
}
/* line 118, ../scss/components/_coop.scss */
.mobile-phone .coop-introducion-ch {
  padding: 2%;
  line-height: 2em;
  letter-spacing: 1px;
}
/* line 124, ../scss/components/_coop.scss */
.mobile-phone .coop-introducion-en {
  padding: 2%;
  line-height: 2em;
  letter-spacing: 1px;
}
/* line 130, ../scss/components/_coop.scss */
.mobile-phone .coop-section-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 141, ../scss/components/_coop.scss */
.mobile-phone .coop-section-left {
  width: 100%;
  margin: 0 auto;
}
/* line 146, ../scss/components/_coop.scss */
.mobile-phone .coop-section-media-wrapper {
  height: 100%;
  overflow: hidden;
}
/* line 151, ../scss/components/_coop.scss */
.mobile-phone .coopblock-section-media-img {
  width: 100%;
  margin: 0 auto;
}
/* line 156, ../scss/components/_coop.scss */
.mobile-phone .coop-section-right {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
/* line 162, ../scss/components/_coop.scss */
.mobile-phone .coop-section-content-title {
  margin: 0;
  color: orange;
  font-size: 16pt;
  padding: 4%;
}
/* line 169, ../scss/components/_coop.scss */
.mobile-phone .coop-section-content-intro {
  font-size: 12pt;
}
/* line 173, ../scss/components/_coop.scss */
.mobile-phone .coop-section-content-intro-body-ch {
  font-family: "Microsoft JhengHei";
  padding: 4%;
  line-height: 2em;
  color: white;
  letter-spacing: 1px;
}
/* line 181, ../scss/components/_coop.scss */
.mobile-phone .coop-section-content-intro-body-en {
  font-family: "Microsoft JhengHei";
  padding: 4%;
  line-height: 2em;
  color: white;
  letter-spacing: 1px;
}

/* Phone End */
/*----------------------------------------------
Co-op Page End
----------------------------------------------*/
/*----------------------------------------------
Portfolio
----------------------------------------------*/
/* Desktop */
/* line 5, ../scss/components/_portfolio.scss */
.portfolioitemlayout-container .portfolioitem-container {
  display: inline-block;
  list-style: none;
  margin-top: -4px;
  margin-bottom: -4px;
  position: relative;
}

/* line 13, ../scss/components/_portfolio.scss */
.portfolioitem-figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* line 19, ../scss/components/_portfolio.scss */
.portfolioitem-img {
  max-width: 100%;
  display: block;
  position: relative;
  transition: transform 0.4s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

/* line 28, ../scss/components/_portfolio.scss */
.portfolioitem-figcaption {
  width: 100%;
  position: absolute;
  top: 40%;
  opacity: 0;
  transition: opacity 0.1s;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 38, ../scss/components/_portfolio.scss */
.portfolioitem-title {
  text-align: center;
  margin: 0;
  font-size: 18pt;
  padding: 0;
  color: #fff;
}

/***************
figure hover
***************/
/* line 50, ../scss/components/_portfolio.scss */
.portfolioitem-container figure:hover img,
.portfolioitem-container figure.cs-hover img {
  filter: none;
}

/* line 55, ../scss/components/_portfolio.scss */
.portfolioitem-container figure:hover figcaption,
.portfolioitem-container figure.cs-hover figcaption {
  opacity: 1;
  transition: opacity 0.1s;
}

/***************
hover end
***************/
/* line 65, ../scss/components/_portfolio.scss */
.portfoliodetail-container {
  text-align: center;
  background-color: black;
  margin: 0px;
}

/* line 72, ../scss/components/_portfolio.scss */
.portfoliodetail-info {
  color: white;
  font-size: 14pt;
  text-align: justify;
  margin: 0;
  padding: 0;
}

/* Desktop End*/
/* Phone */
/* Phone End*/
/*----------------------------------------------
Portfolio End
----------------------------------------------*/
/* line 1, ../scss/components/_style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/components/_style.scss */
a {
  text-decoration: none;
}

/* line 11, ../scss/components/_style.scss */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
  font-family: "helvetica neue";
}

/* line 1, ../scss/components/_swingevents.scss */
.swingevents-container {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/naughty-swing-official-website.appspot.com/o/swingevent%2Fswingevents_background_1_mini.jpg?alt=media&token=e4bbb429-99df-4290-8cfb-6690ad47a583);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 7, ../scss/components/_swingevents.scss */
.swingevents-highlight-events-wrapper {
  text-align: center;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 13, ../scss/components/_swingevents.scss */
.swingevents-highlight-events-title {
  font-size: 24pt;
  margin: 0;
  color: orange;
  text-align: center;
}

/* line 20, ../scss/components/_swingevents.scss */
.swingevents-regular-events-wrapper {
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 25, ../scss/components/_swingevents.scss */
.swingevents-regular-events-title {
  font-size: 3vw;
  margin: 0;
  color: orange;
  text-align: center;
}

/* line 32, ../scss/components/_swingevents.scss */
.swingevents-regular-events-list {
  padding: 0;
  margin: 0 auto;
}

/* line 37, ../scss/components/_swingevents.scss */
.swingevents-regular-events-list-item {
  color: white;
  text-align: center;
  font-size: 2vw;
  line-height: 2;
  list-style: none;
}

/* line 45, ../scss/components/_swingevents.scss */
.swingevents-irragular-events-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 49, ../scss/components/_swingevents.scss */
.eventscalendar-title {
  font-size: 24pt;
  color: orange;
  text-align: center;
  margin: 0;
}

/* line 56, ../scss/components/_swingevents.scss */
.eventscalendar-eventlist-warpper {
  margin: 0px auto;
  padding: 0px;
  width: 80%;
  display: flex;
  color: black;
  list-style: none;
  flex-direction: column;
}

/* line 66, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item {
  color: black;
  text-align: center;
  margin: 10px auto;
  width: 50%;
  display: inline-flex;
  align-items: stretch;
  justify-content: space-between;
  height: 120px;
}

/* line 77, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-date {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: #364050;
  width: 20%;
  margin: 0 auto;
}

/* line 87, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-date-startdate {
  color: white;
  font-size: 2vw;
  text-align: center;
}

/* line 93, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-info {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* line 98, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-title {
  color: black;
  font-size: 2vw;
}

/* line 103, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-time {
  color: gray;
  font-size: 0.5vw;
}

/* line 108, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-startdate-date {
  color: white;
  font-size: 2vw;
  margin: 0;
}

/* line 113, ../scss/components/_swingevents.scss */
.eventlist-irregular-event-item-startdate-month {
  color: white;
  font-size: 2.5vw;
  text-align: center;
  margin: 0;
}

/* line 1, ../scss/helpers/_display.scss */
.inline-flex-center-container {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/* line 9, ../scss/helpers/_display.scss */
.flex-center-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

/* line 1, ../scss/helpers/_position.scss */
.is-center-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 7, ../scss/helpers/_position.scss */
.absl {
  position: absolute;
}
/* line 10, ../scss/helpers/_position.scss */
.absl.top {
  top: 0;
}
/* line 14, ../scss/helpers/_position.scss */
.absl.bottom {
  bottom: 0;
}
/* line 18, ../scss/helpers/_position.scss */
.absl.left {
  left: 0;
}
/* line 22, ../scss/helpers/_position.scss */
.absl.right {
  right: 0;
}

/* line 1, ../scss/helpers/_sarari.scss */
.column {
  flex-shrink: 1;
  flex-basis: auto;
}

/*# sourceMappingURL=main.css.map */
