.aboutus-container {
	padding: 2%;
}

.aboutus-img-wrapper {
	width: 70%;
	display: block;
	margin: 0 auto;
}

.aboutus-img {
	width: 100%;
}

.aboutus-introduction-wrapper {
	font-family: "Microsoft JhengHei";
	width: 100%;
	padding: 5%;
	color: white;
	font-size: 16pt;
	line-height: 2em;
	text-align: justify;
}

.aboutus-introduction-title {
	color: orange;
}

.aboutus-experience-wrapper {
	font-family: "Microsoft JhengHei";
	width: 100%;
	padding: 5%;
	color: white;
	font-size: 16pt;
	line-height: 2em;
	text-align: justify;
}

.aboutus-experience-title {
	color: orange;
}

.aboutus-mediaexplosure-wrapper {
	font-family: "Microsoft JhengHei";
	width: 100%;
	padding: 5%;
	color: white;
	font-size: 16pt;
	line-height: 2em;
	text-align: justify;
}

.aboutus-mediaexplosure-title {
	color: orange;
}

.aboutus-mediaexplosure-ch {
	color: white;
}

.aboutus-mediaexplosure-en {
	color: white;
}

.brands-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

.brands-item {
    text-align: center;
    min-width: 150px;
    max-height: 100px;
    min-height: 60px;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 20%;
    overflow: hidden;
}

.brands-item-img {
	width: 80%;
	margin: 0 auto;
}
