/*----------------------------------------------
Co-op Page
----------------------------------------------*/
.coop-container {
  position: relative;
  width: auto;
  height: auto;
  padding-right: 3%;
  padding-left: 3%;
}

.coop-introducion-wrapper {
  padding-top: 3%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 20pt;
  color: white;
  line-height: 2em;
  font-family: "Microsoft JhengHei";
  letter-spacing: 1pt;

}

.coop-section-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

.coop-section-left {
  width: 45%;
  height: 500px;
  margin: auto;
}

.coop-section-media-wrapper{
  height: 800px;
  overflow: hidden;
}

.coopblock-section-media-img{
  width: 100%;
  margin: 0 auto;
}

.coop-section-right {
  width: 45%;
  height: 500px;
  margin: auto;
}

.coop-section-content-title {
  margin: 0;
  color: orange;
}

.coop-section-content-intro {
  font-size: 16pt;
}

.coop-section-content-intro-body {
  color:  white;
}

.coop-section-content-intro-readmore-target {
  color: white;
}
/*----------------------------------------------
end
----------------------------------------------*/