* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: black;
	font-family: "helvetica neue";
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
}
/*----------------------------------------------
mobile header menu
----------------------------------------------*/
header .mobile-menu-wrapper .mobile-menu.open {
  display: block;
}

.mobile-menu-wrapper #mobile-menu-icon {
  position: absolute;
  color: orange;
  right: 5%;
  top: 20px;
  z-index: 100;
}

.mobile-menu-wrapper #mobile-menu-icon svg {
  height: 2em;
  width: 2em;
}

.mobile-menu-wrapper .mobile-menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
}

.mobile-menu-wrapper .mobile-menu .mobile-menu-list {
  text-align: center;
  list-style: none;
  color: orange;
  padding: 0;
  margin: 0 auto;
  margin-top: 20%;
}

.mobile-menu .mobile-menu-list a {
  line-height: 2em;
  color: orange;
  text-decoration: none;
  font-size: 3em;
}

/*----------------------------------------------
end
----------------------------------------------*/

/*----------------------------------------------
desktop header menu
----------------------------------------------*/
header.active {
  background-color: black;
  height: 75px;
}

header.active .menu-wrapper {
  top: 0px;
}

header.active #logo-container {
  top: 0px;
  padding: 10px;
}

header.active #logo-container #nslogo {
  height: 50px;
}


header .menu-wrapper {
  position: absolute;
  width: 100%;
  display: block;
  top: 50px;
  left: 35%;
}


header #logo-container {
  position: absolute;
  top: 50px;
  left: 5%;
}

header #logo-container #nslogo {
    height: 80px;
}

.menu-wrapper .menu-list {
  display: inline-block;
  width: 600px;
}

.menu-wrapper .menu-list a li {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
  border-color: orange;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 8px;
}

.menu-wrapper .menu-list a li:hover {
  color: white;
  background-color: orange;
}

.menu-wrapper .icon-bar {
  display: inline-block;
  width: 10%;
  color: white;
}

.menu-wrapper .icon-bar .icon {
  margin: 4px;
  color: white;
}

#logo-container a {
  color: orange;
  font-size: 20pt;  
}

.menu-list a {
  color: orange;
}




/*----------------------------------------------
end
----------------------------------------------*/


/*----------------------------------------------
Co-op Page
----------------------------------------------*/
.coopblock {
  clear: both;
  padding: 1%;
}

.coopblock .read-more-state {
  display: none;
}

.coopblock__media {
  padding: 1%;
}

.coopblock__media__content {
  width: 100%;
}

.coopblock__title {
  font-size: 2.5vw;
  color: orange;
}

.coopblock .coopblock__content__readMore {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .coopblock__content__body .coopblock__content__readMore {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}


/*----------------------------------------------
end
----------------------------------------------*/

.content {
  margin-top: 200px;
}

.content .COOP-ContentPage {
	width: auto;
  height: auto;
  position: absolute;
	padding-right: 10%;
	padding-left: 10%;
	background-color: rgba(0, 0, 0, 0.8);
}

.COOP-ContentPage .coop-intro p {
	padding-top: 3%;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.COOP-ContentPage .coop-content {
  display: block;
  width: 100%;
  padding-top: 10px;
}

.COOP-ContentPage .coop-content .section-title {
	color: orange;
  float: left;
  width: 100%;
  font-size: 4vw;
  /*margin: 0 auto;*/
  display: block;
}

.COOP-ContentPage .coop-content .textContent {
  display: block;
  width: 50%;
  min-width: 320px;
  float: left;
  margin: 0 auto;
  padding-right: 2%;
  padding-left: 2%;
  /*display: inline-block;*/
  /*height: 600px;*/
  /*overflow: hidden;*/
}

.COOP-ContentPage .coop-content .mediaContent {
  display: block;
	width: 50%;
  min-width: 320px;
  float: left;
  margin: 0 auto;
  /*display: inline-block;
  height: 600px;
  overflow: hidden;*/
}

.COOP-ContentPage .coop-content .video-title {
  text-align: center;
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 10px;
  color: orange;
}

.COOP-ContentPage .coop-content .coop-photo {
	text-align: center;
  margin: 0 auto;
}


.COOP-ContentPage ul {
	list-style: none;
  padding: 0;
}

.ContentPage {
	color: white;
	margin: 0 auto;
}

.ContentPage p {
	font-family: "Microsoft JhengHei";
	line-height: 2em;
	/*font-size: 16pt;*/
  font-size: 1.5vw;
	letter-spacing: 1pt;
}

.ContentPage .profile {
	padding-left: 10%;
	padding-right: 10%;
}


.ContentPage .wrapper {
	z-index: -10;
	height: 500px;
	overflow: hidden;

}

.ContentPage .wrapper #slogan {
	position: relative;
	top: -100px;
	height: 800px;
}

.video-container h1{
	text-align: center;
}

.video-container iframe {
	display: block;
	margin: 0 auto;
}

#media-section {
	width: 80%;
	margin: 0 auto;
}

#media-section h1 {
	text-align: center;
  color: orange;
  font-size: 36pt;
}

.iframe-rwd {
  margin-top: 1%;
  margin-bottom: 1%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*----------------------------------------------
showcase page
----------------------------------------------*/
#ImageLayoutArea .item {
  display: inline-block;
  list-style: none;
  margin-top: -4px;
  margin-bottom: -4px;
  position: relative;
}

.item figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.item img {
  max-width: 100%;
  display: block;
  position: relative;
  transition: transform 0.4s;
}

.item figcaption {
  height: 100px;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
  padding: 20px;
  background-color: orange;
}

.item figcaption h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
}

/***************
figure hover
***************/

.item figure:hover img,
.item figure.cs-hover img {
  transform: translateY(-50px);
}

.item figure:hover figcaption,
.item figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

/***************
hover end
***************/

.showcase-detail {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  padding: 5% 10%;
  margin: 0px;
}

.showcase-detail .detail-title {
  margin: 0;
  padding: 0;
}

.showcase-detail .detail-info {
  margin: 0;
  padding: 0;
}


/*----------------------------------------------
end
----------------------------------------------*/

/* ----------------------------------------------
 * Generated by Animista on 2017-3-22 5:53:51
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}