.indexpage-container {
	position: relative;
    height: 100%;
}
.indexpage-main-wrapper {
  height: 80vh;
  display: flex;
}

#slogan-2 {
	line-height: 1.5em;
	color: white;
	font-size: 7vw;
	width: 100%;
	margin: 0 auto;
	font-family: fantasy;
	text-align: center;
	-webkit-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	-moz-animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.aboutushighlight-container {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: rgba(255, 255, 255, 0.8);
}

.aboutushighlight-title {
	margin: 0px;
    color: orange;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3vw;
}

.aboutushighlight-more-btn-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.coophighlight-container {
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.coophighlight-introduction-title {
	margin: 0px;
	color: orange;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3vw;
}

.coophighlight-services-wrapper {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.coophighlight-services-serviceitem {
	margin: 0 auto;
    width: 30%;
    min-width: 200px;
}

.coophighlight-services-serviceitem-icon-container {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(113,200,213,0.8);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.coophighlight-services-serviceitem-icon-src {
	margin: 0 auto;
	color: orange;
	text-align: center;
	width:100%
}

.coophighlight-services-serviceitem-title {
	color: orange;
	margin-top: 0;
	text-align: center;
	font-size: 1.5vw;
}

.coophighlight-more-btn-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.portfoliohighlight-container {

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 5%;
	padding-left: 5%;
	background: rgba(0,0,0,1);
}

.portfoliohighlight-title {
	margin: 0px;
	color: orange;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3vw;
}

.portfoliohighlight-more-btn-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

.portfoliohighlight-more-btn {
	margin: 0 auto;
	margin-top: 10px;
}

.swingeventshighlight-container {
	background-image: url(https://firebasestorage.googleapis.com/v0/b/naughty-swing-official-website.appspot.com/o/swingevent%2Fswingevents_background_1_mini.jpg?alt=media&token=e4bbb429-99df-4290-8cfb-6690ad47a583);
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.swingeventshighlight-event {
	width: 90%;
}