/*----------------------------------------------
showcase page
----------------------------------------------*/
.portfolioitemlayout-container .portfolioitem-container {
  display: inline-block;
  list-style: none;
  margin-top: -4px;
  margin-bottom: -4px;
  position: relative;
}

.portfolioitem-figure {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.portfolioitem-img {
  max-width: 100%;
  display: block;
  position: relative;
  transition: transform 0.4s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.portfolioitem-figcaption {
  height: 100px;
  width: 100%;
  position: absolute;
  top: auto;
  bottom: 20%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
  padding: 20px;
  background-color: transparent;
}

.portfolioitem-title {
  text-align: center;
  margin: 0;
  font-size: 24pt;
  padding: 0;
  color: #fff;
}

/***************
figure hover
***************/

.portfolioitem-container figure:hover img,
.portfolioitem-container figure.cs-hover img {
  filter: none;
}

.portfolioitem-container figure:hover figcaption,
.portfolioitem-container figure.cs-hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}

/***************
hover end
***************/

.portfoliodetail-container {
  text-align: center;
  background-color: rgba(0,0,0,1.0);
  margin: 0px;
}


.portfoliodetail-info {
  color: white;
  font-size: 14pt;
  text-align: justify;
  margin: 0;
  padding: 0;
}


/*----------------------------------------------
end
----------------------------------------------*/